/* Navbar Base */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  max-width: 1500px;
  margin: auto;
  flex-wrap: wrap; background: linear-gradient(to bottom right, #05110a, #037210,#b1c404);
}

/* Logo */
.navbar-logo {
  font-size: 32px;
  font-weight: bold;
  color: #f29006;
  
}

/* Toggle */
.navbar-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #0e0000;
  display: none;
}

/* Links */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #070000;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.navbar-links li a:hover,
.navbar-links li a.active {
  background-color: #e0f2ff;
  color: #05ca12;
}

/* Logout */
.logout-btn {
 
  border: none;
  background-color: #b60303;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.logout-btn:hover {
  background-color: #9f0404;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }


.navbar-links {
  display: none; /* Will be displayed via JS or media queries */
  flex-direction: column;
  position: absolute;
  top: 60px; /* Adjust based on your navbar height */
  right: 10px;
  background: rgba(162, 177, 162, 0.95); /* visible white background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 30px;
  width: fit-content;
  z-index: 1000;
}

.navbar-links a {
  text-decoration: none;
  padding: 10px 15px;
  color: #333333;
  font-weight: 500;
  text-align: right;
}

.navbar-links a:hover {
  background-color: #f0f0f0;
  border-radius: 20px;
}





  .navbar-links.active {
    display: flex;
  }

  .navbar-links li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }


}

