/* NAVBAR BASE */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 999;
  position: relative;
}

/* CONTAINER */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 14px 20px;
  max-width: 1500px;
  margin: auto;
  background: linear-gradient(to bottom right, #05110a, #037210, #b1c404);
}

/* LOGO AREA */
.clinic-logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #08d53f;
  font-size: 30px;
}

.clinic-logo-title img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;
  background-color: #01580d;
  padding: 8px;
}

.tagline {
  font-size: 14px;
  color: #e9f505;
  margin-top: -4px;
}

/* NAV LINKS */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #070000;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.navbar-links li a:hover,
.navbar-links li a.active {
  background-color: #e0f2ff;
  color: #05ca12;
}

/* TOGGLE BUTTON (mobile menu button) */
.navbar-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  display: none;
}

/* LOGOUT BUTTON */
.logout-btn {
  border: none;
  background-color: #b60303;
  color: rgba(255, 255, 255, 0.972);
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.logout-btn:hover {
  background-color: #9f0404;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 72px;
    right: 5px;
    background: rgba(85, 131, 99, 0.976);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 20px;
    width: fit-content;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .clinic-logo-title {
    font-size: 18px;
  }

  .clinic-logo-title img {
    width: 45px;
    height: 45px;
    padding: 6px;
  }

  .tagline {
    font-size: 11px;
  }
}
